.menu {

    background-color: white;
    
    
}

.navbar {
    display: flex;
    align-items: center;
    height: 65px;
    padding: 0 5px;
    
}

.url {
    list-style-type: none;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;

}


/** A voir si je trouver comment positionner correctement le pictograme svg a la bonne
    taille et du bon côté.

.buttonlogo {
    max-width: 30px;
    max-height: 30px;

}

**/

.mcl {
    
    flex-grow: -1;
    height: 60px;
    width: 60px;
    padding: 0px;
    
}

.logo {
    height: 60px;
    width: 60px;
}

.navtitle {
    flex-grow: 2;
    font-size: 1rem;
    margin: 10px;
    padding: 10px;
    text-align: left;
    align-items: center;
    
    
}

.website, .supportmail {
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: white;
}


.website:hover, .supportmail:hover {
    cursor: pointer;
    color: white;
    background-color: #151346;
    transition: ease-in-out 300ms 
    
}

.website {
    color: rgb(10, 9, 32);
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 30px;

}


.supportmail {
    list-style-type: none;
    border-radius: 30px;
    color: rgb(10, 9, 32);
    font-size: 1.5rem;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
