@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
  color: rgb(10, 9, 32);
  font-size: 1rem;
  background-color: rgb(10, 9, 32);
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  text-decoration: none;
}

h3 {
  color: #f0f0f0;
}

.BDC {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 2.6rem;
}

.logo {
  width: 66px;
}

.direction {
  margin: 100px 0;
}

.articles {
  text-decoration: none;
  align-self: auto;
  color: #f0f0f0;
  font-size: 2em;
}

.features {
  color: #f0f0f0;
  align-self: auto;
  font-size: 2em;
}

.features,
.articles {
  /**flex: 0 0 auto;**/
  padding: 20px;
  border: solid thick;
  border-radius: 30px;
  border-color: #f0f0f0;
  cursor: pointer;
}

.articles:hover {
  transition: ease-in-out 1ms;

}

.sections {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin: 20px 300px;
  padding: 20px 100px;
}
