@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
  color: rgb(10, 9, 32);
  font-size: 1rem;
  background-color: rgb(21, 19, 70);
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: auto;
}

a {
  text-decoration: none;
}

h3 {
  color: #f0f0f0;
}

.BDC {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 2.6rem;
}

.logo {
  width: 66px;
}

.direction {
  margin: 100px 0;
}

.articles {
  text-decoration: none;
  align-self: auto;
  color: #f0f0f0;
  font-size: 2em;
}

.features {
  color: #f0f0f0;
  align-self: auto;
  font-size: 2em;
}

.features,
.articles {
  /**flex: 0 0 auto;**/
  padding: 20px;
  border: solid thick;
  border-radius: 30px;
  border-color: #f0f0f0;
  cursor: pointer;
}

.articles:hover {
  transition: ease-in-out 1ms;
}

.sections {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin: 20px 300px;
  padding: 20px 0px;
}

footer {
  background-color: white;
  padding: 0 100px 25px;
}

.footerlogo {
  width: 250px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 25px;
}

.footer-links {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0 25px;
  margin: 25px 25px;
}

.footer-links li {
  margin: 0 25px;
}

.footer-links a {
  text-decoration: none;
  color: #0a0920;
  font-size: 16px;
}

.footer-links img {
  height: 27px;
}
/* RESPONSIVE FAQ + NOTES + FOOTER */

@media screen and (max-width: 699px) {



  .direction {
    margin: 10px 0;
  }
  .articles {
    text-decoration: none;
    align-self: auto;
    color: #f0f0f0;
    font-size: 1.1em;
  }

  .sections {
    flex-direction: row;
    justify-content: space-around;
    margin: 40px 0;
    padding: 0;
  }

  .features {
    color: #f0f0f0;
    align-self: center;
    align-items: center;
    font-size: 1.1em;
  }

  .features,
  .articles {
    margin: 0;
    border-width: 2px;
    width: auto;
    /**flex: 0 0 auto;**/
    padding: 0 10px;
    border: none;
    cursor: pointer;
  }

  .artclimg,
  .notesimg {
    height: 80%;
    width: 80%;
  }

  .footer-links {
    list-style-type: none;
    flex-direction: row;
  }

  .footerweblink {
    display: none;
  }
}
