@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&display=swap");

h4 {
  margin-top: 50px;
}

.s-bartitle {
  color: #f0f0f0;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 10px;
  font-size: 27px;
}

.s-bar {
  display: inline-flex;
  align-items: center;
}

.svgbtncfg {
  display: inline-flex;
}

.btncfg {
  display: flex;
  align-items: center;
}

.container {
  display: inline-flex;
  border-width: 0;
  width: 700px;
  height: 30px;
  background-color: #f0f0f0;
  border-radius: 30px 0 0 30px;
  padding: 10px;
  outline: none;
  font-family: "Poppins", sans-serif;
  color: #24216d;
  font-size: 20px;
  text-align: left;
}

::placeholder {
  font-size: 20px;
  text-align: left;
  align-self: center;
  color: #5654a18f;
  font-family: "Poppins", sans-serif;
  font-size: normal;
  font-weight: lighter;
}

.loupe {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  width: 100px;
  border-width: 0;
  outline: none;
  height: 50px;
  border-radius: 0 30px 30px 0;
  flex: 0 0 auto;
  cursor: pointer;
}

.svgicon {
  /* Place the icon on the text baseline. */
  position: relative;
  padding-left: 55px;
  margin-right:10px;
  padding-top: 40px;
  color: #5654a18f;

  /* Prevent the icon from shrinking inside a flex container. */
  flex-shrink: 0;

  /* Scale the icon to match the font-size of the parent element. */
  height: 5em;
  width: 5em;

  /* Let the icon take whatever color the parent has. */
  fill: #24216d8f;
  /*
     * If the icon is used on a link, which has a color transition,
     * we can also use a transition on the fill value.
    */
  transition: fill 0.3s;
}

@media screen and (max-width: 699px) {

  h4 {
    margin: 20px;
    font-size: 1.2rem;
  }

  .s-bartitle {
    color: #f0f0f0;
    text-transform: uppercase;
    margin-top: 0;
    padding: 0;

  }

  .container {
    border-radius: 0;
    display: inline-flex;
    width: 300px;
    height: 30px;
    background-color: transparent;
    border: solid 1px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: #f0f0f0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    text-align: left;
    color: #f0f0f0;
  }

  .loupe {
    background-color: transparent;
    align-items: center;
    padding: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .svgicon {
    /* Place the icon on the text baseline. */
    align-items: left;
    align-self: flex-start;
    padding: 0;
    fill: #f0f0f0;
    transition: fill 0.3s;
  }
 

  ::placeholder {
    text-decoration: none;
    font-size: 20px;
    text-align: left;
    align-self: center;
    color: #afadf56b;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: lighter;
  }
}