@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&display=swap');



.s-bartitle {
    color: white;
    text-transform: uppercase;
    margin-top: 40px;
    padding: 40px;
    font-size: 2rem;
}

.container {
    border-radius: 25px 25px 25px 25px;
    padding: 10px;
    background-color: #f1f1f1;
    width: 600px;
    border: 1px solid #ccc;
    outline: none;

}
 ::placeholder{
    color: #24216d8f;
    font-family: "Poppins", sans-serif;
 }

